POSTGRES_URL="postgresql://dany:123456@localhost:5432/WATCHES"
POSTGRES_USER=dany
POSTGRES_PASS=123456
POSTGRES_DB=WATCHES

CLOUDINARY_CLOUD_NAME=bg1z96qf
CLOUDINARY_API_KEY=216519182393835
CLOUDINARY_API_SECRET=37-PlykcaCwjL_wFs74Ex1Gxqv0

JWT_SEED='danysantiago2505'

PUBLIC_PATH=public
PORT=3000

MAILER_SECRET_KEY=aqfo hcob yqjx kvll
MAILER_EMAIL=blessingnoreply68@gmail.com
